- name: make a directory .kube on home directory
  file:
    path: /root/.kube/
    state: directory
    mode: 0700

- name: copy admin.conf into $HOME/.kube/config
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /root/.kube/config
    remote_src: yes
    mode: 0700
